{% extends "common_pages/common_layout.html" %}


{% block headerStuff %}
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="table-responsive">

            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col" style="width: 5%">Artifact Id</th>
                    <th scope="col" style="width: 70%">Artifact</th>
                    <th scope="col" style="width: 25%">Labels</th>
                </tr>
                </thead>
                <tbody>
                {% for data in conflict_labels %}
                    <tr>
                        <td>{{ data['id'] }}</td>
                        <td style="text-align: left;">{{ data['text'] }}</td>
                        <td>
                            {% for label in data['labels'] %}
                                <div>[#{{ label['id'] }}] {{ label['label'] }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block scriptsStuff %}
    <script>
        {#$(document).ready(function () {#}
        {#    $("#label_selector").change(function (data) {#}
        {#        $("#artifact_container").empty();#}
        {#        let label = data.currentTarget.value;#}
        {#        if (label) {#}
        {#            $.get(`artifacts/${label}`, function (artifacts) {#}
        {#                artifacts.forEach(function (art) {#}
        {#                    $("#artifact_container").append(#}
        {#                        `<div class="list-group-item"><p class="mb-1">[id#${art.id}] ${art.text}</p></div>`#}
        {#                    );#}
        {#                });#}
        {#            });#}
        {#        } else {#}
        {#            $("#artifact_container").html('<p class="list-group-item list-group-item-danger">Select a label</p>');#}
        {#        }#}
        {#    });#}
        {#);#}
    </script>
{% endblock %}