{% extends "common_pages/common_layout.html" %}


{% block headerStuff %}
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="table-responsive">

            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col" style="width: 5%">Artifact Id</th>
                    <th scope="col" style="width: 70%">Artifact</th>
                    <th scope="col" style="width: 25%">Labels</th>
                </tr>
                </thead>
                <tbody>
                {% for data in conflict_labels %}
                    <tr>
                        <td>{{ data['id'] }}</td>
                        <td style="text-align: left;">{{ data['text'] }}</td>
                        <td>
                            {% for label in data['labels'] %}
                                <div class="card" style="text-align: left">
                                    <form id="update-label-form">
                                        <div class="form-group-sm row">
                                            <label class="col-sm-3 col-form-label-sm">Label</label>
                                            <div class="col-sm-9">
                                                <select id="labelSelect{{ label['id'] }}" class="form-control">
                                                    {% for lbl in labels %}
                                                        <option {{ 'selected' if lbl == label['label'] else '' }}
                                                                value="{{ lbl }}">{{ lbl }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group-sm row">
                                            <label class="col-sm-3 col-form-label-sm">Remark</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" id="labelRemark{{ label['id'] }}"
                                                          class="form-control"
                                                          cols="1">{{ label['remark'] or '' }}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group-sm row">
                                            <label class="col-sm-3 col-form-label-sm">Labeler</label>
                                            <div class="col-sm-9">
                                                <input type="text" readonly
                                                       class="form-control-plaintext form-control-sm"
                                                       class="form-control" value="{{ label['creator'] }}">
                                                <button class="btn-sm btn-primary mb-2 btn-save-label" type="button"
                                                        data-artifact-id="{{ data['id'] }}"
                                                        data-label-id="{{ label['id'] }}">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block scriptsStuff %}
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
    <script>

        $(function () {
            $('.btn-save-label').click(function (event) {
                let btn = event.currentTarget;
                let old_lbl_id = btn.getAttribute('data-label-id');
                let art_id = btn.getAttribute('data-artifact-id');
                let new_lbl = $(`#labelSelect${old_lbl_id}`).val();
                let new_remark = $(`#labelRemark${old_lbl_id}`).val();
                $.ajax({
                    url: `/update_label_for_artifact/${art_id}/${old_lbl_id}`,
                    method: 'PUT',
                    data: {
                        new_label: new_lbl,
                        remark: new_remark
                    },
                    success: function(res) {
                        ShowNotification(res.status, 'success');
                        setTimeout(function(){location.reload();}, 1000);
                    },
                    fail:function (res){
                        ShowNotification(res.status, 'error');
                    }
                });
            });
        });
    </script>
{% endblock %}
