{% extends "common_pages/common_layout.html" %}

{% block content %}
    <div class="bg">
        <div role="main" class="container">
            <div class="position-absolute top-50 start-50 translate-middle" style="background-color: #e9ecef;">
                <div class="ms-5 my-5">
                    <h1>Welcome to the Labeling Machine</h1>
                    <br>
                    <p class="lead">Excited to get your hands dirty?</p>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-danger" role="alert">{{ message }} </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form action="/signin" method="post" class="row">
                        <div class="col">
                            <input name="user" type="text" class="form-control form-control-lg"
                                   pattern=".{3,20}" required title="3 to 20 chars"
                                   placeholder="Enter your username...">
                        </div>
                        <div class="col">
                            <input name="password" type="password" class="form-control form-control-lg"
                                   pattern=".{3,20}" required title="3 to 20 chars"
                                   placeholder="Enter your password...">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Start now!</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}