{% extends "common_pages/common_layout.html" %}


{% block headerStuff %}
{% endblock %}

{% block content %}

    <div class="container-md">
        <h1>Upload new artifact</h1>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% set typ = 'alert alert-success' if category =='success' else 'alert alert-danger' %}
                    <div class="{{ typ }}" role="alert">{{ message }} </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <form method=post enctype=multipart/form-data>
            <div class="mb-3">
                <label for="artifactIdentifier" class="form-label">Artifact Identifier</label>
                <input type='text' id="artifactIdentifier" name="artifactIdentifier" class="form-control">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Choose a text (*.txt) file.</label>
                <input id="formFile" type='file' name='file' accept="text/plain" class="form-control">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">Upload Artifact</button>
            </div>

        </form>
    </div>
{% endblock %}