{% extends "common_pages/common_layout.html" %}

{% block headerStuff %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/artifact_common.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
    {% block navigation_bar %}
    {% endblock %}

    <div class="headerPadding">
        {% block artifact_content %}
        {% endblock %}
    </div>

    <div class="lower-panel fixed-bottom ">
        <form style="justify-content: center;" id="form1">
            <div class="row mb-3">
                <div class="col">
                    <select class="form-select" name="labeling_data" id="label_selector">
                        <option value='' selected="selected"></option>
                        {% for key, item in existing_labeling_data %}
                            <option value="{{ item }}" title="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <input type="text" id="remark" class="form-control" placeholder="Remark">
                </div>
                <div class="col-auto">
                    <button type="button" id="submit_btn" form="form1" class="btn btn-primary" disabled>Submit
                    </button>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <input type="text" id="label_description" class="form-control"
                           placeholder="Label Description">
                </div>
                <div class="col-auto">
                    {% block additional_label_action %}
                    {% endblock %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scriptsStuff %}
    {% block submit_script %}
    {% endblock %}
    <script>
        $(document).ready(function () {
            window.startTime = (new Date()).getTime();
            init();

            // Implement Here
            $('#label_selector').select2(
                {
                    tags: true,
                    width: 'resolve',
                    placeholder: "Select a label",
                    allowClear: true
                }
            );

            $(document.body).on("change", "#label_selector", function () {
                if (this.value == "") {
                    $("#submit_btn").attr('disabled', "");
                } else {
                    $("#submit_btn").removeAttr('disabled');
                    $.get('/get_label_description/' + $('#label_selector').val(), function (data) {
                        $('#label_description').val(data.description);
                    });
                }
            });

            $("#submit_btn").click(on_submit);

        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/commonFunc.js') }}"></script>
{% endblock %}
