{% extends "common_pages/common_layout.html" %}

{% block headerStuff %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/artifact_common.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
    {% block navigation_bar %}
    {% endblock %}

    <div class="headerPadding">
        {% block artifact_content %}
        {% endblock %}
    </div>

    <div class="lower-panel fixed-bottom ">
        <form class="form-inline" style="justify-content: center;" id="form1">
            <div class="form-group mx-sm-3 mb-2">
                <select class="js-example-basic-single" name="labeling_data" id="label_selector" style="width: 400px">
                    <option value='' selected="selected"></option>
                    {% for key, item in existing_labeling_data %}
                        <option value="{{ item }}" title="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="text" id="remark" class="form-control mx-sm-3 mb-auto" placeholder="Remark"
                   style="width: 60em;">

            <button type="button" id="submit_btn" form="form1" class="btn btn-primary mb-auto" disabled>Submit</button>
        </form>
    </div>
{% endblock %}

{% block scriptsStuff %}
    {% block submit_script %}
    {% endblock %}
    <script>
        $(document).ready(function () {
            window.startTime = (new Date()).getTime();
            init();

            // Implement Here
            $('#label_selector').select2(
                {
                    tags: true,
                    width: 'resolve',
                    placeholder: "Select a label",
                    allowClear: true
                }
            );

            $(document.body).on("change", "#label_selector", function () {
                if (this.value == "")
                    $("#submit_btn").attr('disabled', "");
                else
                    $("#submit_btn").removeAttr('disabled');
            });

            $("#submit_btn").click(on_submit);

        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/commonFunc.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap-confirmation.min.js') }}"></script>
{% endblock %}
