{% extends "common_pages/common_layout.html" %}

{% block content %}
    <div class="m-2 pt-1">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#labelInfoModal"
                data-bs-whatever="@mdo">Add New
        </button>
        <a href="/label_management/merge_label" class="btn btn-secondary">Merge Labels</a>
        <div class="pt-2"></div>
        <table class="table table-hover table-bordered" style="text-align: left">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Label name</th>
                <th scope="col">Description</th>
                <th scope="col">Artifact Count</th>
                <th scope="col">Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for lab in all_labels %}
                <tr>
                    <th scope="row">{{ lab.id }}</th>
                    <td>{{ lab.labeling }}</td>
                    <td>{{ lab.label_description }}</td>
                    <td>{{ lab.artifacts_relation | length }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#labelInfoModal"
                                    data-bs-id="{{ lab.id }}" data-bs-label="{{ lab.labeling }}"
                                    data-bs-description="{{ lab.label_description }}">Edit
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#labelDeleteModal" data-bs-id="{{ lab.id }}"
                                    data-bs-label="{{ lab.labeling }}">Delete
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# label add or update modal#}
    <div class="modal fade" id="labelInfoModal" tabindex="-1" aria-labelledby="labelInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelInfoModalLabel">Label Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert" hidden id="labelMessageHolder">
                    </div>
                    <form>
                        <div class="mb-3" hidden>
                            <label for="labelName" class="col-form-label">id:</label>
                            <input type="text" class="form-control" id="labelId">
                        </div>

                        <div class="mb-3">
                            <label for="labelName" class="col-form-label">Label:</label>
                            <input type="text" class="form-control" id="labelName">
                        </div>
                        <div class="mb-3">
                            <label for="labelDescription" class="col-form-label">Label Description:</label>
                            <textarea class="form-control" id="labelDescription"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveLabel">Save</button>
                </div>
            </div>
        </div>
    </div>

    {#label delete modal#}
    <div class="modal fade" id="labelDeleteModal" tabindex="-1" aria-labelledby="labelDeleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelDeleteModalLabel">Confirm delete label?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert" hidden id="labelDeleteMessageHolder">
                    </div>
                    <div id="deleteDialog"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="deleteLabel">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptsStuff %}

    <script>
        $(function () {
            let labelInfoModal = document.getElementById('labelInfoModal');
            labelInfoModal.addEventListener('show.bs.modal', function (event) {
                // Hide alert
                $('#labelMessageHolder').attr('hidden', 'true');

                // Button that triggered the modal
                let button = event.relatedTarget;
                // Extract info from data-bs-* attributes
                let id = button.getAttribute('data-bs-id');
                let label = button.getAttribute('data-bs-label');
                let description = button.getAttribute('data-bs-description');

                // Update the modal's content.
                let modalTitle = labelInfoModal.querySelector('.modal-title');
                modalTitle.textContent = label ? "Edit Label" : "New Label";

                $('#labelId').val(id);
                $('#labelName').val(label);
                $('#labelDescription').val(description);
            });

            $('#saveLabel').click(function () {
                let id = $('#labelId').val();
                let label = $('#labelName').val();
                let description = $('#labelDescription').val();
                $.post('/label_management/create_or_update_label',
                    {'id': id, 'label': label, 'description': description}, function (res) {
                        $('#labelMessageHolder').text(res.status);
                        location.reload();
                    })
                    .fail(function (res) {
                        $('#labelMessageHolder').text(res.responseJSON.status);
                    })
                    .always(function () {
                        $('#labelMessageHolder').removeAttr('hidden');
                    });
            });


            let deleteLabelModal = document.getElementById('labelDeleteModal');
            deleteLabelModal.addEventListener('show.bs.modal', function (event) {
                $('#labelDeleteMessageHolder').attr('hidden', 'true');
                let button = event.relatedTarget;
                let id = button.getAttribute('data-bs-id');
                let label = button.getAttribute('data-bs-label');
                $('#deleteDialog').text(`(id: ${id}) ${label}`);
                $('#deleteLabel').attr('data-bs-id', id);
            });

            $('#deleteLabel').click(function (event) {
                let id = event.currentTarget.getAttribute('data-bs-id');
                $.ajax({
                    url: `/label_management/delete_label/${id}`,
                    type: 'DELETE'
                }).done(function (res) {
                    $('#labelDeleteMessageHolder').text(res.status);
                    location.reload();
                }).fail(function (res) {
                    $('#labelDeleteMessageHolder').text(res.responseJSON.status);
                }).always(function () {
                    $('#labelDeleteMessageHolder').removeAttr('hidden');
                });
            });
        });
    </script>

{% endblock %}
