{% extends "labeling_pages/labeling_layout.html" %}

{% block artifact_content %}
    <div class="mx-auto" style="width: 80em;">
        <form>
            <div class="form-group">
                <label for="parentArtifactId">Parent Artifact Id</label>
                <input class="form-control" id="parentArtifactId" name="parentArtifactId" type="number">
            </div>
            <div class="form-group">
                <label for="artifactText">Artifact</label>
                <textarea class="form-control" id="artifactText" rows="8" name="artifactText"></textarea>
            </div>
        </form>
    </div>
{% endblock %}


{% block submit_script %}
    <script>
        function init() {
            console.log('nothing to init');
        }

        function on_submit() {
            let data_json = {
                parent_artifact_id: $('#parentArtifactId').val(),
                artifact_txt: $('#artifactText').val(),
                labeling_data: $('#label_selector').val(),
                label_description: $('#label_description').val(),
                remark: $('#remark').val(),
                duration: get_elapsed_seconds()
            };
            $.post("/manual_label", data_json, function (response, status) {
                ShowNotification(response['status'], "success");
                $('#artifactText').val('');
                $('#parentArtifactId').val('');
                $('#label_selector').val('');
                $('#label_description').val('');
                $('#remark').val('');
            }).fail(function (res){
                ShowNotification("Error occurred. Possible empty argument", 'danger');
            });
        }
    </script>
{% endblock %}
