{% extends "common_pages/common_layout.html" %}

{% block content %}

    <div class="container">
        <div class="row mt-2">
            <div class="col-8">
                <div class="bg-dark text-white">Choose labels to merge:</div>
                <select class="form-select" multiple id="labelList" size="20">
                    {% for label in labels %}
                        <option value="{{ label.labeling }}">{{ label.labeling }} </option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#labelInfoModal">Merge
                </button>
            </div>
            <div class="col border">
                <div class="bg-dark text-white">Selected Labels:</div>
                <div id="selectedLabelPane"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="labelInfoModal" tabindex="-1" aria-labelledby="labelInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelInfoModalLabel">Merged Label Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert" hidden id="labelMessageHolder">
                    </div>
                    <form>
                        <div class="mb-3">
                            <label for="labelName" class="col-form-label">New Label:</label>
                            <input type="text" class="form-control" id="labelName">
                        </div>
                        <div class="mb-3">
                            <label for="labelDescription" class="col-form-label">New Label Description:</label>
                            <textarea class="form-control" id="labelDescription"></textarea>
                        </div>
                        <div class="mb-3 bg-danger text-white">
                            Please note that, selected labels will be deleted and all artifacts will be relabeled with
                            the new label.
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveLabel">Merge</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptsStuff %}
    <script>
        $(function () {
            $('#labelList').change(function (event) {
                let selectedVals = $(event.currentTarget).val();
                let reqs = selectedVals.map(function (val) {
                    return $.get(`/get_label_description/${val}`);
                });

                let infoPanContent = '';
                $.when(...reqs).done(function (...res) {
                    res = selectedVals.length > 1 ? res : [res];
                    selectedVals.forEach(function (val, i) {
                        infoPanContent += `
                        <div>Label Name: ${val}</div>
                        <div>Label Description: ${res[i][0]}</div>
                        <br>`;
                    });
                    $('#selectedLabelPane').html(infoPanContent);
                });
            });


            let labelInfoModal = document.getElementById('labelInfoModal');
            labelInfoModal.addEventListener('show.bs.modal', function (event) {
                $('#labelMessageHolder').attr('hidden', 'true');
            });

            $('#saveLabel').click(function (e) {
                let selectedLabels = $('#labelList').val();
                if (!selectedLabels || selectedLabels.length < 2) {
                    $('#labelMessageHolder').removeAttr('hidden');
                    $('#labelMessageHolder').text('Please select at least 2 labels');
                } else {
                    $.post('', {
                        labelNames: selectedLabels,
                        newLabel: $('#labelName').val(),
                        newLabelDescription: $('#labelDescription').val()
                    }, function (resp) {

                    })
                }


            });
        });

    </script>
{% endblock %}
