{% extends "common_pages/common_layout.html" %}

{% block content %}
    <div class="container">
        <form>
            <div class="mb-3" hidden>
                <label for="themeId" class="col-form-label">id:</label>
                <input type="text" class="form-control" id="themeId">
            </div>

            <div class="mb-3">
                <label for="themeName" class="col-form-label">Theme:</label>
                <input type="text" class="form-control" id="themeName">
            </div>
            <div class="mb-3">
                <label for="themeDescription" class="col-form-label">Theme Description:</label>
                <textarea class="form-control" id="themeDescription"></textarea>
            </div>
            <div class="mb-3">
                <label for="themeLabels" class="col-form-label">Theme Labels:</label>
                <select class="form-select" multiple size="20" id="themeLabels">
                    {% for label in labels %}
                        <option value="{{ label.id }}">{{ label.labeling }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3" id="labelInfoPane" style="display: none">
                <label for="themeLabels" class="col-form-label">Selected Labels:</label>
                <ul class="list-group">
                    {% for label in labels %}
                        <li class="list-group-item" style="display: none"
                            id="labelDescription{{ label.id }}"><b>{{ label.labeling }}:</b> {{ label.label_description }}</li>
                    {% endfor %}
                </ul>
            </div>
        </form>
        <div class="btn-">
            <a href="/theme_management" class="btn btn-secondary">Close</a>
            <button type="button" class="btn btn-primary" id="saveTheme">Save</button>
        </div>
    </div>
{% endblock %}

{% block scriptsStuff %}
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>

    <script>
        $(function () {
            $('#themeLabels').change(function (event) {
                $('#labelInfoPane').hide();
                $('#labelInfoPane li').hide();
                let elem = $(event.currentTarget);
                elem.val().forEach(function (item) {
                    $('#labelInfoPane').show();
                    $(`#labelDescription${item}`).show();
                });
            });

            $('#saveTheme').click(function () {
                let name = $('#themeName').val();
                let description = $('#themeDescription').val();
                let labelIds = $('#themeLabels').val();

                $.post('/theme_management/create_theme', {
                    theme: name, description: description, label_ids: labelIds
                }, function(resp) {
                    ShowNotification(resp.status, 'success');
                    setTimeout(function () {
                        location.href = '/theme_management';
                    }, 1000);
                })
                .fail( function(resp) {
                  ShowNotification(resp.responseJSON.status, 'danger');
                });
            });
        });
    </script>
{% endblock %}
