{% extends "common_pages/common_layout.html" %}

{% block content %}
    <div class="m-2 pt-1">
        <a href="/theme_management/create_theme" class="btn btn-success">Create Themes</a>
        <a href="/theme_management/merge_theme" class="btn btn-secondary">Merge Themes</a>

        <table class="mt-2 table table-hover table-bordered" style="text-align: left">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Theme name</th>
                <th scope="col">Description</th>
                <th scope="col">Label Count</th>
                <th scope="col">Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for theme in themes %}
                <tr>
                    <th scope="row">{{ theme.id }}</th>
                    <td>{{ theme.theme }}</td>
                    <td>{{ theme.theme_description }}</td>
                    <td>{{ theme.labels | length }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#themeInfoModal"
                                    data-bs-id="{{ theme.id }}" data-bs-theme="{{ theme.theme }}"
                                    data-bs-description="{{ theme.theme_description }}">Edit
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#themeDeleteModal" data-bs-id="{{ theme.id }}"
                                    data-bs-theme="{{ theme.theme }}">Delete
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {#theme delete modal#}
    <div class="modal fade" id="themeDeleteModal" tabindex="-1" aria-labelledby="themeDeleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="themeDeleteModalLabel">Confirm delete theme?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert" hidden id="themeDeleteMessageHolder">
                    </div>
                    <div id="deleteDialog"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="deleteTheme">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block scriptsStuff %}

    <script>
        $(function () {
            let deleteThemeModal = document.getElementById('themeDeleteModal');
            deleteThemeModal.addEventListener('show.bs.modal', function (event) {
                $('#themeDeleteMessageHolder').attr('hidden', 'true');
                let button = event.relatedTarget;
                let id = button.getAttribute('data-bs-id');
                let label = button.getAttribute('data-bs-theme');
                $('#deleteDialog').text(`(id: ${id}) ${label}`);
                $('#deleteTheme').attr('data-bs-id', id);
            });

            $('#deleteTheme').click(function (event) {
                let id = event.currentTarget.getAttribute('data-bs-id');
                $.ajax({
                    url: `/theme_management/delete_theme/${id}`,
                    type: 'DELETE'
                }).done(function (res) {
                    $('#themeDeleteMessageHolder').text(res.status);
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }).fail(function (res) {
                    $('#themeDeleteMessageHolder').text(res.responseJSON.status);
                }).always(function () {
                    $('#themeDeleteMessageHolder').removeAttr('hidden');
                });
            });
        });
    </script>

{% endblock %}
